---
import Base from '../layouts/base.astro'
const pageTitle="关于我"
---
<Base pageTitle={pageTitle}>

    <h1>Hello World</h1>
    
   
        <p>这是首页</p>
        <p>第二段：你现在的背景是 fixed（固定）的，所以当你向下拉动时，你会发现背景纹理是钉在屏幕上的，只有我这些文字在移动。</p>
        
        <br /><br /><br /><br />
        <p>（假装这里有很多空行...）</p>
        <br /><br /><br /><br />
        <p>第三段：继续增加高度...</p>
        <br /><br /><br /><br />
        <p>第四段：现在内容高度肯定超过屏幕了，你应该能看到右侧的滚动条了！</p>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <p>你好 我的名字叫伯特 你爸爸喜欢吃什么</p>
    


 

</Base>
